body{
    background-color:#f5f7fb;
    font-family:Arial,sans-serif;
    margin:0;
}
.header{
    background-color:#0B3D91;
    color:white;
    text-align:center;
    padding:20px;
}

.container{
    width:90%;
    margin:auto;
}

.card{
    margin-top:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 10px lightgray;
}

h3{
    color:blue;
}

.form-label{
    font-weight:bold;
}

.form-control{
    height:40px;
}
.btn{
    padding:8px 20px;
    font-weight:bold;
}

.btn-success{
    background-color:green;
    color:white;
}

.btn-danger{
    background-color:red;
    color:white;
}
.btn-primary{
    background-color:blue;
    color:white;
}

table{
    margin-top:20px;
}

table th{
    background-color:#0B3D91;
    color:white;
    text-align:center;
}

table td{
    text-align:center;
}

.fail{
    background-color:#ee3d3d;
}

.pass{
    color:green;
    font-weight:bold;
}

.fail-text{
    color:red;
    font-weight:bold;
    background-color: #ee3d3d;
}
.grade-f{
background-color: red;
}